#sidebar, #main {
  display: inline-block;
  vertical-align: top;
}

#sidebar {
  width: 30%;
  background: #cccccc;
  /**position: fixed; */
}

#main {
  width: 60%;
  background: #f3f3f3;
  padding: 30px;
}

.presentation, img {
  float: left;
}

.p1, img {
  float: left;
  display: inline-block;
}


#image2 {
  width: 100%;
}